body{
    background-color: #f3f6f8;
    margin-top:20px;
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #ffffff;
}


.card-box {
    border-radius: 10px;
}


.biggertxt {
    font-family: "Oswald", sans-serif;
}







